@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #ABBA7C;
    --cor-secundaria: #3D5300;
    --cor-destaque:#F09319;
    --cor-hover:  #FFE31A;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header p {    
    padding: 10px 0;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    color: var(--cor-primaria);
    background-color: var(--cor-secundaria);
    text-align: center;
}

body{
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    width: 100vw;
    height: 100vh;
}

.principal{
    margin: 10% 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.principal__botao{
    border: 3px solid var(--cor-destaque);
    width: 300px;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: "Krona One", sans-serif;;
}

.principal__botao:hover {
    background-color: var(--cor-hover);
}

footer {    
    padding: 10px 0;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    color: var(--cor-primaria);
    background-color: var(--cor-secundaria);
    text-align: center;
    align-content: end;
}

footer a {
    text-decoration: none;    
    color: var(--cor-primaria);
}

footer a:hover {
    color: var(--cor-hover)
}